@charset "utf-8";
/***项目名称：顺间美***
***时间：2015.10.11*** 
***/
html,body{
	min-height:100%;
}
html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
	background:#eeeeee;
}
.content{
	padding-bottom:20px;
	min-height:100%;
	padding-top:5px;
}
/********顺间美**********/
.top img{
	width:100%;
}
.title0{
	font-size:20px;
	color:#000000;
	padding-left:20px;
	height:40px;
	line-height:40px;
	margin-top:10px;
	width: 90%;
}
.title{
	font-size:14px;
	color:#444444;
	padding-left:20px;
	height:40px;
	line-height:40px;
	margin-top:5px;
	width: 90%;
	height: auto;
}
.title11{
	font-size:16px;
	color:#000000;
	padding-left:20px;
	height:40px;
	line-height:40px;
	margin-top:10px;
	font-weight:bold;
}
.title12{
	font-size:14px;
	color:#666666;
	padding-left:20px;
	height:40px;
	line-height:40px;
	margin-top:10px;
}
.table{
	width:100%;
	background:#fff;
}
.table tr td{
	width:33.33%;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
	border-right:1px solid #c9c9c9;
}
.table tr td:last-child{
	border-right:0px;
}
.table tr:first-child td{
	font-size:15px;
	font-weight:bold;
}
.table tr{
	border-bottom:1px solid #c9c9c9;
}
.table tr td{
	width:33.33%;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
	border-right:1px solid #c9c9c9;
}
.table tr td:last-child{
	border-right:0px;
}
.table tr:first-child td{
	font-size:15px;
	font-weight:bold;
}
.table tr{
	border-bottom:1px solid #c9c9c9;
}
.red{
	color:#ce3e34;
}
.tab2 tr td{
	width:25%;
}
.tab3{
	margin-top:10px;
}
.tab3  tr:first-child td{
	background:#cacaca;
}
.table2{
	width:100%;
	background:#fff;
}
.table2 tr td{
	width:33.33%;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
	border-right:1px solid #c9c9c9;
}
.table2 tr{
	border-bottom:1px solid #c9c9c9;
}
.table2 tr td{
	width:33.33%;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
	border-right:1px solid #c9c9c9;
}
.table2 tr{
	border-bottom:1px solid #c9c9c9;
}
.tab2 tr td{
	width:25%;
}
.tab3{
	margin-top:10px;
}
.tab3  tr:first-child td{
	background:#cacaca;
}